.devcontainer.json merge=keeptheirs
package.json merge=keeptheirs
.husky/pre-commit merge=keeptheirs
.tool-versions merge=keeptheirs
yarn.lock merge=keeptheirs

README.md merge=keepmine
CONTRIBUTING.md merge=keepmine
.github/** merge=keepmine