[package]
name = "contracts"
version = "0.2.0"
edition = "2024_07"

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest.html

[dependencies]
starknet = "2.11.4"
openzeppelin_access = "2.0.0"
openzeppelin_token = "2.0.0"

[dev-dependencies]
openzeppelin_utils = "2.0.0"
openzeppelin_testing = "4.3.0"
snforge_std = "0.46.0"

[[target.starknet-contract]]
casm = true # taggle this to `false` to speed up compilation/script tests

[tool.scarb]
allow-prebuilt-plugins = [
	"snforge_std",
] # Avoids the need to install Rust for snforge_std/starknet-foundry

[tool.fmt]
sort-module-level-items = true

[[tool.snforge.fork]]
name = "SEPOLIA_LATEST"
url = "https://starknet-sepolia.public.blastapi.io/rpc/v0_8"
block_id.tag = "latest"

[tool]
panic-backtrace = true

