[package]
name = "contracts"
version = "0.2.0"
edition = "2024_07"

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest.html

[dependencies]
starknet = "2.11.2"
# Change to just "openzeppelin" to use full features
openzeppelin_access = { git = "https://github.com/OpenZeppelin/cairo-contracts.git", commit = "df60a42" } # v2.0.0-alpha.0, later will update to v2.0.0
openzeppelin_token = { git = "https://github.com/OpenZeppelin/cairo-contracts.git", commit = "df60a42" }  # v2.0.0-alpha.0, later will update to v2.0.0

[dev-dependencies]
openzeppelin_utils = { git = "https://github.com/OpenZeppelin/cairo-contracts.git", commit = "df60a42" } # v2.0.0-alpha.0, later will update to v2.0.0
snforge_std = "0.40.0"
## TODO: add openzeppelin_testing and common

[[target.starknet-contract]]
casm = true

[tool.fmt]
sort-module-level-items = true

[[tool.snforge.fork]]
name = "SEPOLIA_LATEST"
url = "https://starknet-sepolia.public.blastapi.io/rpc/v0_8"
block_id.tag = "latest"
