@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.circle-gradient {
  border-radius: 630px;
  background: #bd93f1;
  filter: blur(229px);
  position: absolute;
  top: 0;
}

.circle-gradient-blue {
  border-radius: 630px;
  background: #a6e8fe;
  filter: blur(250px);
  position: absolute;
  top: 0;
  right: 0;
}

.border-gradient {
  border: 1px solid #5c4fe5;
}

.bg-modal {
  backdrop-filter: blur(7.449999809265137px);
}
